<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="michael.quon.n01565129.mq">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/luffy_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/luffy_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MichaelLab9">

        <!-- Main Activity -->
        <activity
            android:name=".QuonActivity9"
            android:theme="@style/Theme.MichaelLab9.NoActionBar"
            android:exported="false">
        </activity>

        <!-- Splash Activity -->
        <activity
            android:name=".MichaelQuoSplash"
            android:theme="@style/Theme.MichaelLab9.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
